{
  "printWidth": 120,
  "semi": true,
  "useTabs": true,
  "arrowParens": "avoid", 
  "bracketSpacing": true,
  "proseWrap": "preserve", 
  "parser": "babylon",
  "jsxSingleQuote": false, 
  "stylelintIntegration": false,
  "tslintIntegration": false, 
  "disableLanguages": ["vue"],
  "htmlWhitespaceSensitivity": "ignore",
  "ignorePath": ".prettierignore",
  "requireConfig": false,
  "eslintIntegration": false,
  "endOfLine": "auto",
  "jsxBracketSameLine": true,
  "requirePragma": false,
  "trailingComma": "none",
  "tabWidth": 2,
  "singleQuote": true,
  "bracketSameLine": true
}
